@import "../../colors.scss";

.messages-container {
  width: 100%;
  height: 100%;
  border-left: 1px solid $message-gray;
}
.messages-window {
  width: 100%;
  height: 78%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  overflow: scroll;
}

.messages-header {
  width: 100%;
  height: 10%;
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
}
.user-name {
  font-size: 22px;
  margin-left: 20px;
}
.each-message-wrapper {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}
.each-message-content {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.img-wrapper.img-wrapper-message {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.avatar.avatar-message {
  width: 30px;
  height: 30px;
}
.check.check-message {
  width: 10px;
  height: 10px;
}
.each-message {
  min-height: 30px;
  width: fit-content;
  max-width: 450px;
  font-size: 13px;
  border-radius: 14px;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: $message-blue;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
.message-date {
  margin-left: 43px;
  font-size: 10px;
  margin-top: 5px;
  color: $message-gray;
}
.message-date.message-date-me {
  margin-left: auto;
}
