$dark-gray: rgb(242, 242, 242);
$light-gray: rgb(249, 249, 249);
$message-gray: rgb(175, 174, 174);
$message-blue: rgb(47, 49, 65);
$text: rgb(214, 214, 214);
$white: #fff;
$light-blue: rgb(82, 174, 231);
